<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codetransparencyverification">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.CodeTransparencyVerification">
    <activity
        android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <!--
    Note, that starting from API level 30 you need to explicitly specify packages that you wish to
    query. Read more: https://developer.android.com/training/package-visibility
  -->
  <queries>
    <package android:name="code.transparency.verification2" />
  </queries>

</manifest>
